.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#time {
  font-size: 1rem;
  font-style: italic;
}

.content {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.content > * {
  margin: 5px;
}

a.blog:link {
  color: black;
}

a.blog:visited {
  color: black;
}

a.blog:hover {
  color: red;
}

.footer {
  font-size: 16px;
  background-color: grey;
  text-align: center;
  color: white;
  padding: 3px;
}

.footer > a:link {
  color: white
}

.footer > a:visited {
  color: white
}

.footer > a:hover {
  color: lightblue;
}
