/* !! MODIFIED JOSHWCOMEAU CSS MODERN RESET !! */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Noto Serif CJK JP";
}

body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  /* display: block; */
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* !! MODIFIED JOSHWCOMEAU CSS MODERN RESET !! */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.content > .home {
  margin: 50px;
  min-height: 100%;
  line-height: 2em;
  align-self: center;
  align-content: center;
  overflow: hidden;
}

.home > img {
  padding-left: 1.1em;
  padding-right: 1.1em;
  padding-top: 1.1em;

  align-self: center;
  max-width: 40%;
  height: auto;
}

.about {
  height: 100vh;
  text-align: left;
  line-height: 1.5;
  min-height: 100%;
  margin-left: 5em;
  margin-right: 5em;
  padding-bottom: 5em;
}

.welcome {
  font-style: italic;
}

.about > h1 {
  font-size: 2em;
  line-height: 1.8;
}

.about > h2 {
  font-size: 1.6em;
  line-height: 1.8;
}
.about > h3 {
  font-size: 1.4em;
  line-height: 1.8;
}

.about > p {
  text-indent: 2em;
  margin: 15px 0;
}

.contact {
  height: 80vh;
  text-align: left;
  line-height: 1.8;
  min-height: 100%;
  margin-left: 4em;
  margin-right: 4em;
  padding-bottom: 4em;
}
.contact > h1 {
  font-size: 2em;
  line-height: 1.8;
}
.contact > h2 {
  font-size: 1.6em;
  line-height: 1.8;
}


#time {
  font-size: 1rem;
  font-style: italic;
}

.tech {
  height: 80vh;
  text-align: left;
  line-height: 1.8;
  min-height: 100%;
  margin-left: 4em;
  margin-right: 4em;
  padding-bottom: 4em;
}

.tech > ul.items {
  text-indent: 2em;
}

.socials > a:link {
  color: black;
}

.socials > a:visited {
  color: black;
}

.socials > a:hover {
  color: red;
}

.navigation {
  position: sticky;
  top: 0;
  width: 100%;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  /* background-color: #777; */
}

.nav-btn {
  padding: 0.7rem 1rem;
  border: none;
  cursor: pointer;
  color: black;
  /* background-color: #777; */
}

.nav-btn:hover {
  background-color: #555;
}
