.real-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.content {
  /* min-height: 100%; */
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

#time {
  font-size: 1rem;
  font-style: italic;
}

a.blog:link {
  color: black;
}

a.blog:visited {
  color: black;
}

a.blog:hover {
  color: red;
}

.navigation {
  position: sticky;
  top: 0;
  width: 100%;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  background-color: #777;
}

.nav-btn {
  padding: 0.7rem 1rem;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #777;
}

.nav-btn:hover {
  background-color: #555;
}
